<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shitpost</title>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/landing.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>

 <nav style="background: #2c3e50;" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">Shitpost <i class="fa fa-camera-retro" aria-hidden="true"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
      <li><a class="nav-item nav-link active" href="/posts" >Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
    </ul>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav ml-auto">
        <% if(!currentuser){ %>
          <a class="nav-link active" href="/login">Login <i class="fa fa-user"></i></a>
          <a class="nav-link active" href="/register">Sign-Up <i class="fa fa-user-plus"></i></a>
         <% } else { %>
           <a class="nav-link active">Signed in as <%= currentuser.username %></a>
          <a class="nav-link active" href="/logout">Logout  <i class="fa fa-sign-out" aria-hidden="true"></i></a>
         <% } %>
      </div>
    </div>
  </nav>
  <div class="container">
     <% if(error && error.length >0){ %>
      <div class="alert alert-danger" role="alert"><%= error %></div>
     <% } %>
     <% if(success && success.length >0){ %>
      <div class="alert alert-success" role="alert"><%= success %></div>
     <% } %>
  </div>