<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shitpost</title>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/landing.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
</head>
<body>    
    <div id="landing-header">
         <h1>Welcome to shitpost!</h1>
         <hr>
		<a href="/posts" class="btn btn-md btn-success">Click Me To View All The Post  <i class="fa fa-paw fa-fw"></i></a>
    <h3><center><strong><p style="padding-top: 20px;opacity: 80%;color: black;">Made By <em>RAHUL JHA</em></p></strong></center></h3>
    </div>
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

  </body>
 </html>




















<!-- 
<h1>landing page</h1> -->

<!-- 
<p>welcome to shitpost</p> -->
<!-- 
<a href="/posts">view all posts</a> -->

<!-- <%- include ('partials/footer'); -%> -->