<%- include ('./partials/header'); -%>
   <div class="container">
        <h1 class="text-center" style="margin-top: 65px; color:white"  >Please Login</h1>
        <div style="width: 30%;margin:30px auto;">
            <form action="/login" method="post">
               <div class="form-group"><input class="form-control" type="text" name="username" placeholder="username"></div>
               <div class="form-group"><input class="form-control" type="password" name="password" placeholder="password"></div>
               <div class="form-group"><button class="btn btn-lg btn-primary btn-block">Log-In!</button></div>
           </form>
        <a class="font-italic" href="/posts">Go Back</a>
        <a class="font-italic pull-right" href="/register">Sign-Up</a>
        </div>
    </div>
    <h3><center><strong><p id="footer" style="padding-top: 43.5vh;">Made By <em>RAHUL JHA</em></p></strong></center></h3>
<%- include ('./partials/footer'); -%>